<div class="panel-body col-xs-5 col-sm-offset-3" style="margin-top: 60px;">
    <div id="anim_panel_left" class="col-xs-5 " style="padding-left: 0px; padding-right: 0px" >
            <div class="">                    
                    <table class='table' id='anim_left_Tabla_General'>
                            <thead >
                                    <tr id='anim_left_Tabla_Head'>
                                        <th><h2>Animaciones:</h2></th>
                                    </tr>
                            </thead>
                        
                            <tbody id='anim_left_Tabla_Body'>
                                                                                                  
                            </tbody>    
                    </table>        
            </div>                    
    </div>
    <div id="anim_panel_right" class="container col-xs-7" style="overflow: hidden; height: 540px">
            <div class="">                    
                    <table class='table' id='anim_Right_Tabla_General'>
                            <thead >                                    
                            </thead>
                        
                            <tbody id='anim_Right_Tabla_Body'>
                                                                                                  
                            </tbody>    
                    </table>        
            </div>                    
    </div>
</div>