<div class="panel-body col-xs-5 col-sm-offset-3" style="margin-top: 60px;">
    <div id="efect_panel_left" class="col-xs-5 " style="padding-left: 0px; padding-right: 0px" >
            <div class="">                    
                    <table class='table' id='efect_left_Tabla_General'>
                            <thead >
                                    <tr id='efect_left_Tabla_Head'>
                                        <th><h2 id="efect_panel_title">efectaciones:</h2></th>
                                    </tr>
                            </thead>
                        
                            <tbody id='efect_left_Tabla_Body'>
                                                                                                  
                            </tbody>    
                    </table>        
            </div>                    
    </div>
    <div id="efect_panel_right" class="container col-xs-7 scroller" style="height: 540px; padding-right: 0px;">
            <div class="">                    
                    <table class='table' id='efect_Right_Tabla_General'>
                            <thead >                                    
                            </thead>
                        
                            <tbody id='efect_Right_Tabla_Body'>
                                                                                                  
                            </tbody>    
                    </table>        
            </div>                    
    </div>
</div>