<div class="row">
    <button onclick='Menu_SeleccionDeEfecto("Animations")' class="btn brBtn">
        Animaciones
    </button>
    <button onclick='Menu_SeleccionDeEfecto("States")' class="btn brBtn">
        Estados
    </button>
    <br>
    <div class="dropdown">
        <button class="dropdown-toggle btn brBtn" data-toggle="dropdown" href="#">Archivo <span class="caret"></span></button>       
        <div class="dropdown-menu">
            <li><span>Opcion 1</span></li>
            <li><span>Opcion 3</span></li>
            <li><span>Opcion 4</span></li>
            <li><span>Opcion 5</span></li>        
        </div>
    </div>
</div>
<br>
<div class="row">


    <div class="col-xs-4">

        <div class="panel-heading">
            <span>Efectos</span>
        </div>

        <div class="panel-body">
            <ul class="zebra-list col-xs-10 offset-md-3">
                <li>Opcion 1</li>
                <li>Opcion 2</li>
                <li>Opcion 3</li>
                <li>Opcion 4</li>
                <li>Opcion 5</li>
                <li>Opcion 6</li>
                <li>Opcion 7</li>
            </ul>
        </div>
    </div>
    

</div>

