<span id="TT_FormulasDeDano" class="tooltiptext" style="width: 285px;">
    <div class="row">
        <div class="col col-xs-12 header">
            <p>Formula de Daño:</p>
        </div>
    </div>
    <div class="row">
        <div class="col col-xs-12">
            <p>Formula para calcular el daño basico. El usuario se indica con 'a' y el objetivo con 'b'
                y, a continuacoin, cualquiera de ellos seguido por un punto hara referencia a los estados mostrados despues
                ej. 100 + a.mat *2 - b.mdf *2
            </p>
        </div>
    </div>    
    <div class="divider"></div>
    <div class="row">
        <div class="col col-xs-6">
                <p> atk: Ataque</p>
                <p> mat: Ataq.M</p> 
                <p> agi: Agilidad</p> 
                <p> mhp: PV Max.</p>
                <p> hp: PV</p>
                <p> tp: PT</p>
        </div>
        <div class="col col-xs-6">
                <p>def: Defensa</p>
                <p>mdf: Defen.M.</p>
                <p>luk: Suerte</p>
                <p>mmp: PM Max</p>
                <p>mp: PM</p>
                <p>level: Nivel</p>
        </div>     
    </div>                      
</span>





